


.snapshots{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom:1px solid #CBCCC9;
}

.snap-card{
	background-color:white;
	border: 1px solid #E1E3DF;
	border-bottom-color:#CBCCC9;
	border-radius:3;
	position:relative;
	padding: 15px;
	margin-bottom: 10px;
}

.snapcard .circle{
	width:45px;
}

.strong{
	font-weight: 700;
}


.flag-body label{
	margin:0px;
}

@media (min-width: 900px) { 
	.etsyX-logo{
		max-height:25px;
	}	
	.date{
		float:right;
	}
}
