

.nav-link{
	padding-top:15px;
	height: 80px;
}

.nav-link .nav-icon{
	margin:0 auto;
}

.nav li{
	display: inline-block;
}

#greeting{
	background-color: #FBFBFA;
}

.snapshots{
	padding-top: 10px;
	padding-bottom: 30px;
	border-bottom:1px solid #CBCCC9;
}

.snap-card{
	background-color:white;
	border: 1px solid #E1E3DF;
	border-bottom-color:#CBCCC9;
	border-radius:3;
	position:relative;
	padding: 15px;
	margin-bottom: 10px;
}

.badge{
	display:inline-block;
}

.parent-hover-underline{
	width:100%;
}
.parent-hover-underline:hover{
	text-decoration: underline;
}

.nav-link .circle{
	width:45px;
}

.strong{
	font-weight: 700;
}

.flag{
	margin-left:5px;
	margin-bottom:5px;
}
.flag-body label{
	margin:0px;
}

a{
	font-weight:normal;

}
a:hover{
	text-decoration: underline;
}

@media (min-width: 480px){
	.nav-link .circle{
		width:30px;
	}
	.date{
		text-align:right;
	}
	.info-card{
		min-height:275px;
	}

}



