.strong{
	font-weight: 700;
}
.subway{
	padding: 30px;
	border-bottom: 1px solid #E1E3DF;
}

#apply-title{
	padding: 30px;
	border-bottom: 1px solid #E1E3DF;
}

#section-heading{
	margin: 0px 10px;
}

input{
	max-width:288px;
}
select{
	max-width:288px;
}

textarea{
	margin-bottom:40px;
}

.radio-label{
	font-weight:500;
}

.panel{
	margin:10px;
}