/*fonts*/
@font-face { font-family: Merriweather-light; src: url('fonts/merriweather/Merriweather Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal; }

@font-face { font-family: Merriweather-bold; src: url('fonts/merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; }

 @font-face { font-family: Merriweather; src: url('fonts/merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }



h1 {
	font-family: Merriweather, serif;
	font-weight:bold;
	font-size:24px;
	font-color:#222222;
}
h2 {
	font-family: Merriweather, serif;
	font-weight:normal;
	font-size:20px;
	font-color:#222222;

}
h3 {
	font-family: Merriweather, serif;
	font-weight:normal;
	font-size:16px;
	margin-top:10px;
	font-color:#222222;
}
h4 {
	font-family: Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	font-color:#222222;
}
h5 {
	font-family: Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	font-color:#222222;
}

h1 .h1-display {
	font-family: Merriweather-light, serif;
	font-weight:lighter;
	font-size:52px;
	font-color:#222222;
}
h1 .h3-display {
	font-family: Merriweather-light, serif;
	font-weight:lighter;
	font-size:32px;
	font-color:#222222;
}

.h5-display {
	font-family: Helvetica, serif;
	font-weight:bold;
	font-size:26px;
	font-color:#222222;
}

@media (max-width: 480px){
	h1{
		font-weight:normal;
		font-size:20px;
	}

	.h5-display {
		font-size:18px;
	}
}


/*end: fonts*/

/*buttons*/
.parent-hover-underline{
	font-size:14px;
}
.parent-hover-underline:hover{
	text-decoration: underline;
}
/*end: buttons*/

.navbar{
	border:none;
	border-radius: 0px;
	margin-bottom:0px;
}
nav .container-fluid{
	border-bottom: 1px solid #E1E3DF;
	background-color: white;
}

.etsyX-logo{
	max-height:20px;
	margin: 12px 11px 10px;
}


#cnav-header li{
	display: inline-block;
}



@media (max-width: 320px) { 
	.right-nav img{
		display:none;
	}
}

@media (min-width: 320px) { 
	.apply-nav-height{
		height: 42px;
	}
	.right-nav img{
		max-height:20px;
		margin: 11px 0px;
	}
}

@media (min-width: 480px){
	.apply-nav-height{
		height: 60px;
	}
	.right-nav img{
		max-height:30px;
		margin: 15px 0px;
	}
	.etsyX-logo{
		max-height:25px;
		margin: 20px 15px 15px 15px;
	}	
}

@media (min-width: 768px){
	#title-area{
		margin-bottom:30px;
	}
}

@media (min-width: 900px){
	.apply-nav-height{
		height: 80px;
	}
	.right-nav img{
		max-height:40px;
		margin: 20px 0px;
	}
	.etsyX-logo{
		max-height:30px;
		margin: 25px 0px;
	}
}

@media (max-width: 768px){
	h5 .subheader{
		font-weight:normal;
	}
}

.circle{
	width:45px;
}


