
#nav-xs{
	height:42px;
}
.dropdown {
	max-width: none;
	width:100%;
	position:relative;
}
.dropdown-toggle{
	width: 100%;
    text-align: left;
}
.dropdown-menu{
	width: 100%;
}


/*.alert{
	padding:5px;
	border-radius: 0px;
}

.alert-message{
	color:white;
	text-align:left;
	display: inline-block;
    width: 100%;
    vertical-align: middle;
}*/

.input-group-btn .btn-secondary{
	border:none;
}

.btn-orange-text{
	color: #C13C27;
}

h3{
	margin:0px;
}

.jumbotron{
	background-image: url("img/real-moon-hero.jpg");
	color:white;
}

.jumbotron h1{
	font-family: Merriweather-light, serif;
	font-weight:lighter;
	font-size:32px;
}

#title-area{
	margin-bottom:0px;

}

#spaceX-corner{
	bottom: 0px;
	right:-15px;
	float:right;
    height:35px;
    position:relative;
    display:inline-block;

}

#spaceX-logo{
	height: 25px;
}

#updates-sm{
	padding:10px;
	border-bottom: 1px solid #E1E3DF;
}
#updates-sm h3{
	padding-bottom: 5px;
}

#moon-cartoon{
	position: absolute;
    left: 10px;
    top: 890px;
    height: 90px;
}

#crew{
	padding: 20px 10px;
}

#crew p{
	display:inline-block;
	height:inherit;
	position: absolute;
    top: 40%;
    padding-left: 10px;
}

.factoid{
	margin: 0 auto;
	width: 250px;
}

#updates-sm h3{
	font-family: Merriweather-light, serif;
    font-weight: lighter;
    font-size: 13px;
}

.big-number{
    font-size: 60px;
    font-family: Merriweather-light;
    font-weight: lighter;
    display:inline-block;
    color:#FFAC62;
}

#apply-home button{
	display:block;
	margin: 0 auto;
	margin-top:10px;
}

#apply-home{
	color:white;
	padding: 20px 10px;
}

.parent-hover-underline{
	width:100%;
	text-align:center;
}

@media(min-width:480px){
	.jumbotron{
		max-height:340px;
	}
	.jumbotron h1{
		font-size: 52px;
	}
	
}

@media (max-width: 768px){
	#spaceX-corner{
		bottom: -30px;
	}

	#spaceX-logo{
		height:17px;
	}
	.celebrate{
		font-weight:normal;
	}
}

@media (min-width: 768px){
	.jumbotron{
		padding-left:10px;
		padding-right:10px;
	}
	#moon-cartoon{
		    position: absolute;
		    left: 10px;
		    top: 770px;
		    height: 160px;
	}
}